@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Lobster');


.title {
    text-align: center;
    font-family: Sofia, Courier, monospace;
    font-size: 35px;
    color: brown;
}

.description {
    font-family:'Courier New', Courier, monospace;
}

div {
    margin: 50px 200px 200px;
    font-family: Lobster, monospace;
    font-size: 15px;
    
}

.item1 {
    display: block;
    text-align: center;
    border-style: solid;
    border-radius: 48%;
    border-color:brown;
    padding: 16px;
    margin-bottom: 10px;
    color: rgb(82, 28, 182);
    background-color: rgb(233, 151, 10);
}

.item2 {
    display: block;
    text-align: center;
    border-style: solid;
    border-color:brown;
    border-radius: 48%;
    padding: 16px;
    margin-bottom: 10px;
    color: rgb(82, 28, 182);
    background-color: rgb(233, 151, 10);
}

.item3 {
    display: block;
    text-align: center;
    border-style: solid;
    border-color:brown;
    border-radius: 48%;
    padding: 16px;
    color: rgb(82, 28, 182);
    background-color: rgb(233, 151, 10);
}

.img {
    margin: 0 130px 0 130px;
    width: 250px;
}

h3 {
    background-color: blue;
    color: wheat;
}